.progress-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .iconos-seccion {
      text-align: center;
      cursor: pointer;
    }
    .iconos-seccion i {
      font-size: 2rem;
      color: #0d6efd;
    }
    .iconos-seccion.completed i {
      color: #198754;
    }
    .progress-bar {
      height: 5px;
      background-color: #0d6efd;
      flex-grow: 1;
      margin: 0 10px;
    }
    .iconos-seccion.active i {
      color: #14376d;
    }
    .section {
      display: none;
    }
    .section.active {
      display: block;
    }
  </style>

   <style>
    
    body{
      background-color: #f8f9fa;
    }

    .table-container {
      margin-top: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
    }
    .table thead th {
      background-color: #f7f7f7;
      font-weight: bold;
    }
    .table tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    .search-add-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }


    /* Estilo general para los íconos de acción */
.custom-icon {
  border: 2px solid;
  border-radius: 8px;
  padding: 3px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Icono de editar (color azul) */
.edit-icon {
  color: #007bff;
  border-color: #007bff;
  margin-right: 3px; /* Espacio entre los iconos */
}

.edit-icon:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Icono de eliminar (color rojo) */
.delete-icon {
  color: #dc3545;
  border-color: #dc3545;
  margin-right: 3px; /* Espacio entre los iconos */
}

.delete-icon:hover {
  background-color: #dc3545;
  color: #ffffff;
}

/* Icono de eliminar (verde verde) */
.view-icon {
  color: #198754;
  border-color: #198754;
  margin-right: 3px; /* Espacio entre los iconos */
}

.view-icon:hover {
  background-color: #198754;
  color: #ffffff;
}

/* Icono de imprimir (amarillo amarillo) */
.print-icon {
  color: #fedf00;
  border-color: #fedf00;
  margin-right: 3px; /* Espacio entre los iconos */
}

.print-icon:hover {
  background-color: #fedf00;
  color: #ffffff;
}

/* Icono de Enviar por correo (amarillo amarillo) */
.send-icon {
  color: #feb100;
  border-color: #feb100;
  margin-right: 3px; /* Espacio entre los iconos */
}

.send-icon:hover {
  background-color: #feb100;
  color: #ffffff;
}

/*Imagenes tumbail*/
.rounded{
    height: 150px;
    width: 150px;
    classtrounded mx-auto d-block;
  }

  .imgThumbnail{
    width: 60px;
    height: 60px;
  }
